Repository toobutta/Auterity-Dream, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, infrastructure, ci-cd, documentation, configuration, dependencies, testing, security, database, monitoring, ai-ml, relaycore, enterprise, performance

feat: add admin configuration dashboard for production settings
  .env.production
  .github/ENVIRONMENT_SETUP.md
  .github/scripts/integration-tests.sh
  .github/scripts/security-scan.py
  .github/workflows/config.yml
  .github/workflows/release.yml
  COHESIVE_DEVELOPMENT_PLAN.md
  DEPLOYMENT_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  PROJECT_STRUCTURE_COMPREHENSIVE.md
  WORKFLOW_CONSOLIDATION_SUMMARY.md
  backend/app/api/auth.py
  backend/app/api/dependencies.py
  backend/app/auth.py
  backend/app/core/config.py
  frontend/src/App.test.tsx
  frontend/src/components/__tests__/ErrorRecoveryGuide.test.tsx
  frontend/src/components/__tests__/WorkflowExecutionHistory.test.tsx
  frontend/src/components/__tests__/WorkflowExecutionResults.test.tsx
  frontend/src/components/admin/ConfigurationSettings.tsx
  frontend/src/components/agents/AgentDashboard.tsx
  frontend/src/components/nodes/__tests__/AIProcessNode.test.tsx
  frontend/src/components/nodes/__tests__/EndNode.test.tsx
  frontend/src/components/nodes/__tests__/StartNode.test.tsx
  frontend/src/components/workflow-builder/EnhancedWorkflowBuilder.tsx
  scripts/setup-monitoring.sh
  scripts/validate-deployment.sh
Labels: frontend, backend, ci-cd, documentation, configuration, testing, monitoring, ai-ml

chore: centralize AI agent rules and archive old agent docs
  .github/copilot-instructions.md
  README.md
  archived-agent-docs/AGENT_FRAMEWORK_IMPLEMENTATION_STATUS.md
  archived-agent-docs/AGENT_FRAMEWORK_INTEGRATION_GUIDE.md
Labels: documentation

fix: complete logging and gitignore updates
  .gitignore
  backend/app/api/ecosystem_management.py
  backend/app/api/service_status_enhanced.py
  backend/app/services/ai_orchestrator.py
Labels: backend, ai-ml

fix(code-quality): reduce linting errors from 178 to 25
  backend/app/api/agent_registry.py
  backend/app/api/auterity_expansion.py
  backend/app/api/ecosystem_management.py
  backend/app/auth.py
  backend/app/core/cache.py
  backend/app/init_db.py
  backend/app/middleware/tenant_middleware.py
  backend/app/schemas/auterity_expansion.py
  backend/app/services/advanced_analytics_service.py
  backend/app/services/agent_marketplace_service.py
  backend/app/services/agents/rag_engine.py
  backend/app/services/api_gateway_service.py
  backend/app/services/enhanced_recovery.py
  backend/app/services/litellm_service.py
  backend/app/services/smart_triage_service.py
  backend/app/services/template_service.py
  backend/cross_system_protocol.py
  backend/examples/workflow_execution_example.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/test_agent_framework.py
  backend/tests/test_database.py
  backend/tests/test_models.py
  backend/tests/test_workflows.py
  scripts/final_linting_cleanup.py
  scripts/fix_remaining_linting.py
  scripts/verify_service_architecture.py
Labels: backend, ci-cd, ai-ml

docs(sync): add comprehensive GitHub sync status report
  GITHUB_SYNC_STATUS_REPORT.md
Labels: documentation

docs(structure): update comprehensive project tree graph
  PROJECT_STRUCTURE_TREE_UPDATED.md
Labels: documentation

fix: resolve critical linting issues
  backend/app/api/agent_registry.py
  backend/app/api/endpoints/saas.py
  backend/app/api/mcp_routes.py
  backend/app/services/agent_marketplace_service.py
  backend/app/services/agents/rag_engine.py
  backend/app/services/partner_ecosystem_service.py
  backend/app/services/smart_triage_service.py
  backend/cross_system_protocol.py
  backend/examples/workflow_execution_example.py
  backend/tests/test_agent_framework.py
  backend/tests/test_database.py
  backend/tests/test_models.py
  scripts/final_linting_cleanup.py
  scripts/fix_remaining_linting.py
  scripts/resolve_final_25_errors.py
  scripts/targeted_final_fixes.py
  scripts/ultra_targeted_fixes.py
Labels: backend, ci-cd, ai-ml, enterprise

fix(ci): resolve CI issues and add compliance
  COMPLIANCE/ATTRIBUTION.csv
  COMPLIANCE/NOTICE
  COMPLIANCE/POLICY.yml
  COMPLIANCE/README.md
  COMPLIANCE/SBOM.spdx.json
  COMPLIANCE/THIRD_PARTY_NOTICES.md
  COMPLIANCE/bom.cdx.json
  COMPLIANCE/scancode.json
  backend/app/schemas/__init__.py
  backend/app/schemas/agent.py
  backend/app/services/vector/__init__.py
  backend/app/services/vector/pinecone_store.py
  scripts/compliance/evaluate_policy.sh
  scripts/compliance/format_artifacts.sh
  scripts/compliance/generate_sbom.sh
  scripts/compliance/install_tools.sh
  scripts/compliance/precommit.sh
  scripts/compliance/scan_licenses.sh
Labels: backend, ci-cd, documentation, ai-ml

chore(cleanup): remove temporary documentation files
  .github/copilot-instructions.md
  .github/workflows/comprehensive-ci-enhanced.yml
  .github/workflows/comprehensive-ci-old.yml
  .vscode/python.json
  GITHUB_SYNC_STATUS_REPORT.md
  LINTING_IMPLEMENTATION_COMPLETE.md
  LINTING_RESOLUTION_PLAN.md
  PROJECT_STRUCTURE_TREE_UPDATED.md
  archived-agent-docs/AGENT_FRAMEWORK_IMPLEMENTATION_STATUS.md
Labels: ci-cd, documentation, ai-ml

fix: resolve final linting issue in vector store module
  backend/app/services/vector/pinecone_store.py
Labels: backend

fix(backend): resolve linting and workflow issues
  backend/app/api/auterity_expansion_mock.py
  backend/app/api/auth.py
  backend/app/api/kafka.py
  backend/app/api/system_health.py
  backend/app/auth.py
  backend/app/services/kafka_service.py
  backend/app/services/vector/pinecone_store.py
  backend/fix_auth_issues.py
  backend/requirements.txt
Labels: backend

docs(backend): add comprehensive technical debt resolution report
  TECHNICAL_DEBT_RESOLUTION_REPORT.md
  backend/final_technical_debt_summary.py
Labels: backend, documentation

fix(schemas): resolve import errors preventing startup
  backend/app/schemas/__init__.py
Labels: backend

refactor(quality): complete code quality improvements
  backend/app/services/advanced_analytics_service.py
  backend/app/services/integration_controller.py
  backend/app/tests/services/test_litellm_service.py
Labels: backend

fix: resolve critical schema and config errors
  backend/app/api/auterity_expansion.py
  backend/app/core/saas_config.py
  backend/app/models/agent.py
  backend/app/schemas/__init__.py
Labels: backend, enterprise

docs: fix markdown linting issues in Code Citations
  .kiro/specs/auterity-expansion/# Code Citations.md
  .kiro/specs/auterity-expansion/Untitled-1.md
Labels: documentation

fix(backend): resolve Python linting violations
  AI_COMMIT_MESSAGE_RULES.md
  backend/app/api/error_management.py
  backend/fix_auth_issues.py
  scripts/fix_all_linting.py
  scripts/fix_imports.py
Labels: backend, ci-cd, documentation

docs(formatting): resolve markdown linting violations
  AI_COMMIT_MESSAGE_RULES.md
  COMMIT_QUICK_REFERENCE.md
Labels: documentation

fix(api): fix linting errors in auterity expansion
  backend/app/api/auterity_expansion_fixed.py
Labels: backend

fix(frontend): resolve moderate vulnerabilities
  frontend/package.json
  frontend/src/components/LazyCodeHighlighter.tsx
  package-lock.json
  package.json
  runtime.txt
Labels: frontend, configuration, dependencies

fix(backend): resolve all linting violations
  GITHUB_RESOLUTION_REPORT.md
  backend/app/api/agents.py
  backend/app/api/auterity_expansion.py
  backend/app/api/auterity_expansion_fixed.py
  backend/app/api/auterity_expansion_mock.py
  backend/app/api/endpoints/saas.py
  backend/app/api/error_management.py
  backend/app/api/kafka.py
  backend/app/api/relaycore.py
  backend/app/init_db.py
  backend/app/middleware/enhanced_error_middleware.py
  backend/app/middleware/otel_middleware.py
  backend/app/models/__init__.py
  backend/app/models/agent.py
  backend/app/models/mcp_server.py
  backend/app/models/model_config.py
  backend/app/models/models.py
  backend/app/models/template.py
  backend/app/models/user.py
  backend/app/models/workflow.py
  backend/app/services/advanced_analytics_service.py
  backend/app/services/ai_cost_optimization_service.py
  backend/app/services/ai_service_migration.py
  backend/app/services/ai_service_relaycore.py
  backend/app/services/litellm_service.py
  backend/app/services/partner_ecosystem_service.py
  backend/app/services/smart_triage_service.py
  backend/app/services/workflow_engine.py
  backend/final_technical_debt_summary.py
  backend/fix_auth_issues.py
  backend/fix_line_length_violations.py
Labels: backend, documentation, database, ai-ml, relaycore, enterprise, performance

fix(workflows): resolve GitHub Actions context access warnings
  .github/workflows/comprehensive-ci.yml
Labels: ci-cd, ai-ml

fix(backend): resolve critical type errors and workflow issues
  .github/workflows/comprehensive-ci.yml
  .kiro/specs/auterity-expansion/# Code Citations.md
  COMMIT_RULES_IMPLEMENTATION.md
  COMPLIANCE/THIRD_PARTY_NOTICES.md
  GITHUB_RESOLUTION_REPORT.md
  GITHUB_WORKFLOW_RESOLUTION_REPORT.md
  TECHNICAL_DEBT_RESOLUTION_REPORT.md
  backend/app/core/cache.py
  backend/app/services/agent_marketplace_service.py
  backend/examples/workflow_execution_example.py
  backend/final_technical_debt_summary.py
  backend/requirements.txt
Labels: backend, ci-cd, documentation, ai-ml

fix(deploy): resolve Vercel deployment configuration issues
  .github/workflows/comprehensive-ci.yml
  .github/workflows/vercel-deployment.yml
  .vercelignore
  AI_COMPREHENSIVE_CONTEXT_DOCUMENT.md
  CURRENT_PROJECT_STATUS.md
  README.md
  VERCEL_DEPLOYMENT_FIX.md
  frontend/package.json
  package-lock.json
  vercel.json
Labels: frontend, ci-cd, documentation, configuration, dependencies, ai-ml

fix(vercel): remove functions property conflict
  vercel.json
Labels: configuration

feat(ci): add AI toolkit strategy and workflows
  .github/workflows/comprehensive-ci.yml.disabled
  .github/workflows/optimized-ci-cd.yml
  .vercel-deployment-guide.md
  vercel.json
Labels: ci-cd, documentation, configuration, ai-ml, performance

chore(docs): sync updates to MASTER_UNIFIED documents
  COHESIVE_DEVELOPMENT_PLAN.md
  DEVELOPMENT_ROADMAP.md
  MASTER_UNIFIED_DEVELOPMENT_PLAN.md
  backend/app/main.py
  backend/app/middleware/error_handler.py
  backend/app/services/ai_service_relaycore.py
  backend/app/services/sso_service.py
  backend/requirements.txt
  backend/tests/test_sso_service.py
  docs/AI_TOOLKIT_BUSINESS_CASE.md
  docs/AI_TOOLKIT_DEVELOPMENT_SUMMARY.md
  docs/AI_TOOLKIT_EXPANSION_STRATEGY.md
  docs/AI_TOOLKIT_EXPANSION_STRATEGY_FORMATTED.md
  docs/AI_TOOLKIT_TECHNICAL_SPECIFICATION.md
  docs/API_SPECIFICATIONS.md
  docs/MASTER_UNIFIED_BUSINESS_CASE.md
  docs/MASTER_UNIFIED_DEVELOPMENT_SUMMARY.md
  docs/MASTER_UNIFIED_EXPANSION_STRATEGY.md
  docs/MASTER_UNIFIED_TECHNICAL_SPECIFICATION.md
  frontend/src/api/auth.ts
  systems/relaycore/package.json
  systems/relaycore/src/middleware/auth.ts
Labels: frontend, backend, documentation, ai-ml, relaycore

fix(backend): resolve merge conflicts from comprehensive code quality improvements
  .pre-commit-config.yaml
  .vscode/settings.json
  backend/alembic/versions/001_add_enterprise_security.py
  backend/alembic/versions/003_add_saas_subscription_fields.py
  backend/alembic/versions/003_auterity_expansion_core.py
  backend/alembic/versions/20250809_add_mcp_support.py
  backend/alembic/versions/add_mcp_support_tables.py
  backend/alembic/versions/add_model_tracking_tables.py
  backend/app/api/error_management.py
  backend/app/api/tasks.py
  backend/app/core/rate_limiter.py
  backend/app/middleware/security_headers.py
  backend/app/ml/neuro_weaver.py
  backend/requirements.txt
  frontend/src/components/workflow-builder/WorkflowCanvas.tsx
  systems/integration/src/services/message-bus.ts
Labels: frontend, backend, configuration, ai-ml, enterprise

Add Vercel deployment workflows and configuration for CI/CD
  .github/workflows/vercel-deploy.yml
  .github/workflows/vercel-preview.yml
  .vercelignore
  CI_CD_FIXES_SUMMARY.md
  vercel.json
Labels: ci-cd, documentation, configuration, ai-ml

feat(ai-sdk): add enhanced AI SDK integration
  .kiro/specs/auterity-ai-platform-unified/templates/industry-accelerator-template.py
  AI_SDK_INTEGRATION_GUIDE.md
  README.md
  frontend/package.json
  frontend/src/pages/enhanced/EnhancedErrorDashboard.tsx
  frontend/src/services/enhanced/enhancedAIService.ts
  package-lock.json
  package.json
  scripts/check-cloud-deployment-simple.ps1
  scripts/check-cloud-deployment.ps1
  src/services/aiSDKService.ts
  src/types/ai-sdk.d.ts
  test-ai-sdk.js
  tsconfig.json
  verify-ai-sdk.js
Labels: frontend, ci-cd, documentation, configuration, dependencies, ai-ml

PHASE 2 COMPLETE: Core Integration for Error-IQ
  README.md
  docs/API_DOCUMENTATION_COMPREHENSIVE.md
  docs/ARCHITECTURE_OVERVIEW.md
  docs/TECHNICAL_SPECIFICATIONS.md
  frontend/src/test-devtools.ts
Labels: frontend, documentation

docs: consolidate documentation for unified platform
  docs/AI_SDK_INTEGRATION_GUIDE.md
  docs/CHROME_DEVTOOLS_INTEGRATION_GUIDE.md
  docs/README.md
  docs/UNIFIED_PLATFORM_INTEGRATION_GUIDE.md
Labels: documentation

feat: Complete n8n workflow integration system
  .env.example
  AI_TOOLKIT_SCORING_MATRIX.md
  apps/workflow-studio/package.json
  apps/workflow-studio/src/App.tsx
  apps/workflow-studio/src/components/n8n/N8nCanvasIntegration.tsx
  apps/workflow-studio/src/components/n8n/N8nNodeConfigPanel.tsx
  apps/workflow-studio/src/nodes/n8n/N8nNodeFactory.ts
  apps/workflow-studio/src/nodes/n8n/N8nTemplateNode.ts
  apps/workflow-studio/src/nodes/n8n/N8nTriggerNode.ts
  apps/workflow-studio/src/pages/n8n/N8nManagementPage.tsx
  apps/workflow-studio/src/services/enterprise/EnterpriseOrchestrator.ts
  apps/workflow-studio/src/services/enterprise/NovitaAIService.ts
  apps/workflow-studio/src/services/enterprise/PostmanPostbotService.ts
  apps/workflow-studio/src/services/enterprise/TemporalService.ts
  apps/workflow-studio/src/services/enterprise/TestSigmaService.ts
  apps/workflow-studio/src/services/enterprise/WeightsAndBiasesService.ts
  apps/workflow-studio/src/services/langchain/AutoGenService.ts
  apps/workflow-studio/src/services/langchain/GoogleVertexService.ts
  apps/workflow-studio/src/services/langchain/HuggingFaceService.ts
  apps/workflow-studio/src/services/langchain/LangChainService.ts
  apps/workflow-studio/src/services/langchain/LiteLLMService.ts
  apps/workflow-studio/src/services/langchain/UnifiedAIOrchestrator.ts
  apps/workflow-studio/src/services/n8n/n8nApiService.ts
  apps/workflow-studio/src/services/n8n/n8nConfig.ts
  apps/workflow-studio/tailwind.config.js
  frontend/.env.example
  frontend/MISSING_COMPONENTS_ANALYSIS.md
  frontend/UI_UX_CONFIGURATION_GUIDE.md
  frontend/package.json
  frontend/src/components/ThemeProvider.tsx
  frontend/src/config/constants.ts
  frontend/vite.config.ts
  package.json
  systems/neuroweaver/src/services/n8n/n8nNeuroweaverConnector.ts
  systems/relaycore/src/services/n8n/n8nRelayCoreAdapter.ts
  test-setup.js
Labels: frontend, documentation, configuration, dependencies, ai-ml, relaycore

feat: Add CodeRabbit backend auto-fix workflow
  .github/workflows/coderabbit-backend-autofix.yml
  apps/workflow-studio/src/services/enterprise/BillingService.ts
  apps/workflow-studio/src/services/enterprise/DeploymentManager.ts
  apps/workflow-studio/src/services/enterprise/SubscriptionService.ts
  apps/workflow-studio/src/services/enterprise/UsageAnalyticsService.ts
  docs/ADVANCED_AI_API_REFERENCE.md
  frontend/src/components/WorkflowExecutionResults.tsx
  frontend/src/components/analytics/AnalyticsDashboard.tsx
  frontend/src/components/ui/CommandPalette.tsx
  frontend/src/components/workflow-builder/WorkflowBuilderDemo.tsx
  frontend/src/hooks/usePerformance.ts
  frontend/src/utils/accessibility-auditor.ts
  frontend/src/utils/chrome-devtools-bridge.ts
  frontend/src/utils/console-enhancer.ts
  frontend/src/utils/memory-profiler.ts
  frontend/src/utils/network-monitor.ts
  frontend/src/utils/security-scanner.ts
  frontend/vite.config.ts
  services/api/src/app/api/__init__.py
  services/api/src/app/api/ai_advanced.py
  services/api/src/app/api/ai_core.py
  services/api/src/app/main.py
  systems/integration/src/services/health-monitor.ts
  systems/mcp/orchestrator.ts
  systems/neuroweaver/src/services/n8n/n8nNeuroweaverConnector.ts
  systems/relaycore/src/services/n8n/n8nRelayCoreAdapter.ts
Labels: frontend, ci-cd, documentation, monitoring, ai-ml, relaycore

feat(quality): add automated code quality enhancements
  .github/workflows/coderabbit-backend-autofix.yml
  apps/workflow-studio/src/services/enterprise/SubscriptionService.ts
  docs/API_COST_MANAGEMENT.md
  frontend/src/utils/network-monitor.ts
  packages/workflow-contracts/auterity-workflow-studio.code-workspace
  scripts/fix_imports.py
  scripts/fix_performance.py
  scripts/fix_security.py
  scripts/fix_types.py
  services/api/src/app/services/billing_service.py
  systems/neuroweaver/src/services/n8n/n8nNeuroweaverConnector.ts
  systems/relaycore/src/services/n8n/n8nRelayCoreAdapter.ts
Labels: frontend, ci-cd, documentation, monitoring, ai-ml, relaycore, performance

docs: update documentation
  CHANGELOG.md
  README.md
  docs/AI_SERVICES_INTEGRATION.md
  docs/API_DOCUMENTATION_COMPREHENSIVE.md
  docs/ARCHITECTURE_OVERVIEW.md
  package.json
Labels: documentation, configuration, dependencies

refactor: streamline lint setup and typing
  backend/.python-version
  frontend/.eslintrc.minimal.cjs
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/utils/retryUtils.ts
Labels: frontend, backend

docs(frontend): add FRONTEND_TASKS_DETAILED_PLAN for staging with full task breakdown
  FRONTEND_ENHANCEMENT_PLAN.md
  apps/workflow-studio/package.json
  docs/FRONTEND_TASKS_DETAILED_PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ide/UnifiedIDE.tsx
  frontend/src/components/templates/ai-integration/AIServiceWrapper.tsx
  package-lock.json
  package.json
  src/components/ui/ai/AIChatInterface.tsx
  src/components/ui/ai/hooks/useAIChat.ts
  src/components/ui/ai/index.ts
  src/components/ui/ai/types.ts
  src/hooks/useAIElements.ts
  src/hooks/useAnalytics.ts
  src/hooks/useFeatureFlags.ts
  src/hooks/usePerformance.ts
  src/services/analytics.ts
  src/services/featureFlags.ts
  src/services/github/GitHubAuditLogger.ts
  src/services/github/GitHubWebhookSecurity.ts
  src/services/performance.ts
  src/types/analytics.ts
  src/types/featureFlags.ts
  src/types/performance.ts
Labels: frontend, documentation, configuration, dependencies, performance

feat: Implement centralized Model Configuration Service
  REMAINING_TASKS_ROADMAP.md
  apps/workflow-studio/src/components/ai/UnifiedAIMarketplace.tsx
  auterity-workflow-studio.code-workspace
  docs/AI_FRAMEWORK_MAPPING_GUIDE.md
  docs/AI_INTEGRATION_IMPLEMENTATION.md
  docs/FRONTEND_TASKS_DETAILED_PLAN.md
  frontend/src/components/model-hub/ModelValidationDashboard.tsx
  frontend/src/components/workflow-builder/nodes/UnifiedAINode.tsx
  frontend/src/components/workflow-builder/nodes/index.ts
  services/api/src/app/api/models.py
  services/api/src/app/main.py
  services/api/src/config/models.yaml
  src/services/modelConfigService.ts
Labels: frontend, documentation, ai-ml

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci-cd, ai-ml

.github/labeler.yml:

# Configuration for the GitHub Labeler action
# This file defines which labels to apply based on file paths changed in PRs

# Frontend related changes
frontend:
  - 'frontend/**'
  - 'shared/**'
  - '*.js'
  - '*.ts'
  - '*.tsx'
  - '*.jsx'
  - '*.css'
  - '*.scss'
  - '*.html'

# Backend related changes
backend:
  - 'backend/**'
  - '*.py'
  - 'requirements*.txt'
  - 'pyproject.toml'
  - 'setup.py'

# Infrastructure and DevOps
infrastructure:
  - 'docker-compose*.yml'
  - 'Dockerfile*'
  - '.dockerignore'
  - 'nginx/**'
  - 'kong/**'
  - 'infra/**'
  - 'infrastructure/**'
  - '**/*.tf'

# CI/CD and GitHub Actions
ci-cd:
  - '.github/workflows/**'
  - '.github/actions/**'
  - 'scripts/**'
  - '.github/*.yml'

# Documentation
documentation:
  - '**/*.md'
  - 'docs/**'
  - 'README*'
  - 'CHANGELOG*'
  - 'LICENSE*'

# Configuration files
configuration:
  - 'config/**'
  - '*.config.js'
  - '*.config.ts'
  - '.env*'
  - '*.json'
  - '*.yml'
  - '*.yaml'
  - '.github/dependabot.yml'

# Dependencies
dependencies:
  - 'package*.json'
  - 'requirements*.txt'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile*'

# Testing
testing:
  - 'tests/**'
  - '**/*.test.*'
  - '**/*.spec.*'
  - 'cypress/**'
  - 'e2e/**'
  - 'jest.config.*'
  - 'pytest.ini'
  - 'codecov.yml'

# Security
security:
  - '.github/workflows/*security*'
  - '.github/workflows/*audit*'
  - 'security/**'
  - '.snyk'
  - '.safety-policy.yml'
  - any: ['security', 'vulnerability', 'auth', 'jwt']

# Database and migrations
database:
  - 'alembic/**'
  - '**/*migration*'
  - '**/*migrate*'
  - 'models/**'
  - 'schemas/**'

# Monitoring and observability
monitoring:
  - 'monitoring/**'
  - 'mlflow/**'
  - 'logs/**'
  - '**/*metric*'
  - '**/*monitor*'

# AI/ML specific
ai-ml:
  - 'systems/neuroweaver/**'
  - '**/*model*'
  - '**/*ai*'
  - '**/*ml*'
  - '**/*neural*'

# RelayCore system
relaycore:
  - 'systems/relaycore/**'
  - '**/*relay*'

# Enterprise features
enterprise:
  - 'enterprise-platform/**'
  - '**/*enterprise*'
  - '**/*saas*'

# Performance
performance:
  - '**/*performance*'
  - '**/*perf*'
  - '**/*optimization*'
  - '**/*optimize*'
